.version.how_it_works /* version checker */
{
	color: #00000C;
	background-color: #F04B43;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 3443.949999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -5px;
	padding-bottom: 1px;
	width: 0.01px;
}

#phome
{
	width: 0.01px;
	margin-left: -100px;
}

#home
{
	width: 22px;
	margin-right: -10000px;
	left: 139px;
}

#slideshowu4502
{
	z-index: 178;
	width: 0.01px;
	height: 595px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u4514popup
{
	z-index: 179;
}

#u4514
{
	width: 1220px;
	height: 595px;
}

#u4515
{
	z-index: 180;
	width: 1220px;
	height: 595px;
	margin-right: -10000px;
}

#u4557
{
	z-index: 183;
	width: 457px;
	height: 386px;
	margin-right: -10000px;
	margin-top: 200px;
	left: 139px;
}

#pamphletu6451
{
	z-index: 226;
	width: 0.01px;
	height: 276px;
	padding-bottom: 7px;
	margin-right: -10000px;
	margin-top: 290px;
	left: 150px;
}

#u6456
{
	z-index: 227;
	width: 44px;
	margin-right: -10000px;
	margin-top: 262px;
	left: 196px;
}

#u6458
{
	width: 27px;
	padding-bottom: 7px;
	top: -7px;
	left: -8px;
}

#u6614
{
	z-index: 229;
	width: 12px;
	height: 13px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 8px;
}

#u6458:hover #u6614
{
	width: 12px;
	height: 13px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u6632
{
	width: 27px;
	padding-bottom: 7px;
	top: -7px;
	left: 9px;
}

#u6636
{
	z-index: 231;
	width: 12px;
	height: 13px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 8px;
}

#u6458.PamphletThumbSelected #u6614,#u6632:hover #u6636
{
	width: 12px;
	height: 13px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u6637
{
	width: 27px;
	padding-bottom: 7px;
	top: -7px;
	left: 24px;
}

#u6458.PamphletThumbSelected,#u6632.PamphletThumbSelected,#u6637.PamphletThumbSelected
{
	width: 27px;
	min-height: 0px;
	margin: 0px;
}

#u6640
{
	z-index: 233;
	width: 12px;
	height: 13px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 8px;
}

#u6632.PamphletThumbSelected #u6636,#u6637:hover #u6640
{
	width: 12px;
	height: 13px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u6637.PamphletThumbSelected #u6640
{
	width: 12px;
	height: 13px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u6452popup
{
	z-index: 234;
}

#u6452
{
	width: 427px;
}

#u6455
{
	z-index: 235;
	width: 427px;
	height: 250px;
	margin-right: -10000px;
}

#u6471-14
{
	z-index: 236;
	width: 426px;
	min-height: 241px;
	margin-right: -10000px;
}

#u6634
{
	z-index: 250;
	width: 427px;
	height: 250px;
	margin-right: -10000px;
}

#u6641-10
{
	z-index: 251;
	width: 410px;
	min-height: 84px;
	margin-right: -10000px;
	margin-top: 51px;
	left: 8px;
}

#u6639
{
	z-index: 261;
	width: 427px;
	height: 250px;
	margin-right: -10000px;
}

#u6891-9
{
	z-index: 262;
	width: 408px;
	min-height: 180px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 8px;
}

#u6473-4
{
	z-index: 271;
	width: 427px;
	min-height: 84px;
	margin-right: -10000px;
	margin-top: 206px;
	left: 150px;
}

#u7022
{
	z-index: 307;
	width: 526px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 121px;
}

#u4518
{
	z-index: 182;
	height: 70px;
}

#u4518-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 182;
	top: 594px;
}

#menuu4519
{
	z-index: 184;
	width: 981px;
	top: 594px;
	left: 20px;
}

#u4527
{
	width: 170px;
	min-height: 70px;
	margin-right: -10000px;
}

#u4528
{
	width: 170px;
	padding-bottom: 42px;
}

#u4528:hover
{
	width: 170px;
	min-height: 0px;
	margin: 0px;
}

#u4528.MuseMenuActive
{
	width: 170px;
	min-height: 0px;
	margin: 0px;
}

#u4529-4
{
	width: 122px;
	min-height: 28px;
	margin-right: -10000px;
	top: 21px;
	left: 24px;
}

#u4528:hover #u4529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#u4528.MuseMenuActive #u4529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#u4520
{
	width: 152px;
	min-height: 70px;
	margin-right: -10000px;
	left: 172px;
}

#u4521
{
	width: 152px;
	padding-bottom: 42px;
}

#u4521.MuseMenuActive
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u4524-4
{
	width: 104px;
	min-height: 28px;
	margin-right: -10000px;
	top: 21px;
	left: 24px;
}

#u4521:hover #u4524-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 104px;
	margin: 0px -10000px 0px 0px;
}

#u4521.MuseMenuActive #u4524-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 104px;
	margin: 0px -10000px 0px 0px;
}

#u4548
{
	width: 210px;
	min-height: 70px;
	margin-right: -10000px;
	left: 326px;
}

#u4551
{
	width: 210px;
	padding-bottom: 36px;
}

#u4551.MuseMenuActive
{
	width: 210px;
	min-height: 0px;
	margin: 0px;
}

#u4554-4
{
	width: 162px;
	min-height: 34px;
	margin-right: -10000px;
	top: 18px;
	left: 24px;
}

#u4551:hover #u4554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u4551.MuseMenuActive #u4554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u4534
{
	width: 239px;
	min-height: 70px;
	margin-right: -10000px;
	left: 538px;
}

#u4535
{
	width: 239px;
	padding-bottom: 42px;
}

#u4535.MuseMenuActive
{
	width: 239px;
	min-height: 0px;
	margin: 0px;
}

#u4538-4
{
	width: 191px;
	min-height: 28px;
	margin-right: -10000px;
	top: 21px;
	left: 24px;
}

#u4535:hover #u4538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u4535.MuseMenuActive #u4538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u4541
{
	width: 202px;
	min-height: 70px;
	margin-right: -10000px;
	left: 779px;
}

#u4542
{
	width: 202px;
	padding-bottom: 42px;
}

#u4542.MuseMenuActive
{
	width: 202px;
	min-height: 0px;
	margin: 0px;
}

#u4543-4
{
	width: 154px;
	min-height: 28px;
	margin-right: -10000px;
	top: 21px;
	left: 24px;
}

#u4542:hover #u4543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u4542.MuseMenuActive #u4543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#howitworks
{
	margin-left: 29px;
	margin-top: 79px;
	position: relative;
}

#u3347-4
{
	z-index: 87;
	width: 980px;
	min-height: 60px;
	background-color: transparent;
	line-height: 58px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 20px;
	margin-top: 67px;
	position: relative;
}

#pu3544-17
{
	width: 0.01px;
	margin-left: 20px;
}

#u3544-17
{
	z-index: 103;
	width: 980px;
	min-height: 215px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3544-2,#u3544-4,#u3544-6,#u3544-8,#u3544-10,#u3544-12,#u3544-13
{
	font-size: 18px;
	text-align: justify;
	line-height: 22px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u3544-14
{
	font-size: 18px;
	text-align: justify;
	line-height: 22px;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
}

#privatelessons
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 159px;
	left: 6px;
}

#u3545
{
	z-index: 120;
	width: 490px;
	-pie-box-shadow: none;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	position: fixed;
	top: 1069px;
	left: 20px;
}

#u3545_clip
{
	overflow: hidden;
	width: 490px;
	height: 326px;
}

#u3545_img
{
	margin-bottom: -1px;
}

#pu3553-4
{
	width: 0.01px;
	margin-left: -5px;
	margin-top: 36px;
}

#u3553-4
{
	z-index: 3;
	width: 168px;
	min-height: 52px;
	background-color: #FBB03B;
	border-radius: 5px;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 293px;
	left: 692px;
}

#u3553-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 168px;
	margin: 293px -10000px 0px 0px;
}

#u3548-18
{
	z-index: 69;
	width: 401px;
	min-height: 201px;
	background-color: transparent;
	color: #0071BC;
	position: relative;
	margin-right: -10000px;
	left: 573px;
}

#u3548-2
{
	font-size: 24px;
	text-align: center;
	line-height: 29px;
}

#u3548-3
{
	font-size: 14px;
	text-align: left;
}

#u3548-4,#u3548-7,#u3548-10
{
	font-weight: bold;
}

#u3548-15
{
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	font-weight: bold;
}

#u3548-14
{
	font-weight: normal;
}

#u3548-6,#u3548-9,#u3548-12,#u3548-16
{
	font-size: 24px;
	text-align: left;
	line-height: 29px;
}

#coaching
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 336px;
}

#u3540
{
	z-index: 91;
	width: 490px;
	-pie-box-shadow: none;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	position: fixed;
	top: 1444px;
	left: 510px;
}

#u3543-10
{
	z-index: 93;
	width: 417px;
	min-height: 217px;
	background-color: transparent;
	line-height: 29px;
	color: #FBB03B;
	font-size: 24px;
	margin-left: 52px;
	margin-top: 59px;
	position: relative;
}

#u3543-2,#u3543-3
{
	text-align: center;
}

#u3543-5,#u3543-7,#u3543-8
{
	text-align: left;
}

#prentaguard
{
	width: 0.01px;
	margin-left: -10px;
	margin-top: -8px;
}

#u3561-4
{
	z-index: 50;
	width: 168px;
	min-height: 52px;
	background-color: #0071BC;
	border-radius: 5px;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 187px;
}

#u3561-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 168px;
	margin: 0px -10000px 0px 0px;
}

#u3549
{
	z-index: 122;
	width: 492px;
	-pie-box-shadow: none;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	position: fixed;
	top: 1810px;
	left: 20px;
}

#pu5478-4
{
	width: 0.01px;
	margin-left: 570px;
	margin-top: 119px;
}

#u5478-4
{
	z-index: 65;
	width: 168px;
	min-height: 52px;
	background-color: #FBB03B;
	border-radius: 5px;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 188px;
	left: 103px;
}

#u5478-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 168px;
	margin: 188px -10000px 0px 0px;
}

#u3553-4:hover p,#u3561-4:hover p,#u5478-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u3553-2,#u3561-2,#u5478-2
{
	padding-top: 11px;
}

#u3552-7
{
	z-index: 124;
	width: 401px;
	min-height: 214px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
}

#u3552-2
{
	text-align: center;
	color: #0071BC;
}

#u3548,#u3543,#u3552
{
	text-decoration: underline;
}

#u3552-3
{
	text-align: center;
	color: #ED1C24;
}

#u3552-5
{
	text-align: left;
	color: #0071BC;
}

#pdiscounts
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 121px;
}

#rentaguard,#discounts
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u3965-3
{
	z-index: 14;
	width: 18px;
	min-height: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1022px;
}

#pu3962
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 43px;
}

#u3962
{
	z-index: 2;
	height: 774px;
	border-color: #000000;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	background: #FFFFFF url("../images/lifeguard-923050_1920.jpg") no-repeat center center;
	background-size: cover;
}

#u3962-bw
{
	z-index: 2;
	height: 774px;
}

#u3964-7
{
	z-index: 7;
	width: 980px;
	min-height: 117px;
	-pie-box-shadow: none;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	background-color: #000000;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	border-radius: 15px;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 120px;
}

#u3964-3
{
	color: #0071BC;
}

#u3970-10
{
	z-index: 17;
	width: 356px;
	min-height: 234px;
	-pie-box-shadow: none;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	background-color: #FBB03B;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	border-radius: 50px;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 180px;
}

#u3971-8
{
	z-index: 27;
	width: 356px;
	min-height: 234px;
	-pie-box-shadow: none;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	background-color: #0071BC;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	border-radius: 50px;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 684px;
}

#u3970-6,#u3970-8,#u3971-6
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3970-5,#u3970-7,#u3971-5
{
	font-size: 14px;
	line-height: 17px;
}

#u3972-6
{
	z-index: 35;
	width: 356px;
	min-height: 234px;
	-pie-box-shadow: none;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	background-color: #0071BC;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	border-radius: 50px;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 442px;
	left: 180px;
}

#u3973-8
{
	z-index: 41;
	width: 356px;
	min-height: 234px;
	-pie-box-shadow: none;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	background-color: #FBB03B;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	border-radius: 50px;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 442px;
	left: 684px;
}

#u3973,#u3973-2
{
	font-size: 30px;
	line-height: 36px;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
}

#u3973-4
{
	font-size: 30px;
	line-height: 36px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u3973-6
{
	font-size: 14px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#pu4417
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 53px;
}

#u4417
{
	z-index: 54;
	width: 360px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4417_img
{
	padding-bottom: 29px;
}

#u4423-9
{
	z-index: 56;
	width: 490px;
	min-height: 95px;
	background-color: transparent;
	line-height: 29px;
	color: #000000;
	font-size: 24px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 433px;
}

#u3544-15,#u3964,#u3970-4,#u3971,#u3971-2,#u3972,#u3972-2,#u4423-7
{
	font-family: nova-mono, sans-serif;
	font-weight: 400;
}

#u3964-5,#u3970-3,#u3971-4,#u3972-4,#u4423-2,#u4423-4,#u4423-5
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u4449
{
	z-index: 134;
	height: 47px;
}

#u4449-bw
{
	z-index: 134;
	margin-top: 2px;
	height: 47px;
}

#pu4450
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u4450
{
	z-index: 135;
	height: 319px;
}

#u4450-bw
{
	z-index: 135;
	margin-top: 1px;
	height: 319px;
}

#u4452-21
{
	z-index: 136;
	width: 141px;
	min-height: 288px;
	margin-right: -10000px;
	left: 708px;
}

#u4453-19
{
	z-index: 157;
	width: 200px;
	min-height: 319px;
	margin-right: -10000px;
	left: 871px;
}

#u4472
{
	z-index: 176;
	width: 60px;
	min-height: 60px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 1141px;
}

#u5355
{
	z-index: 215;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 195px;
	left: 896px;
}

#u5414
{
	z-index: 216;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 896px;
}

#u6110-5
{
	z-index: 217;
	width: 313px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 152px;
	left: 121px;
}

#u6131-4
{
	z-index: 222;
	width: 223px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 295px;
	left: 499px;
}

#u4451-27
{
	z-index: 275;
	width: 200px;
	min-height: 288px;
	margin-right: -10000px;
	left: 485px;
}

#u6977-5
{
	z-index: 302;
	width: 183px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 178px;
	left: 186px;
}

#u7028
{
	z-index: 309;
	width: 313px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 121px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

