.version.how_it_works /* version checker */
{
	color: #00001D;
	background-color: #CC2FAD;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 3443.8999999999983px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -5px;
	padding-bottom: 2px;
	width: 0.01px;
}

#pslideshowu4502
{
	width: 0.01px;
	margin-left: -100px;
}

#slideshowu4502
{
	z-index: 186;
	width: 0.01px;
	height: 595px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u4514popup
{
	z-index: 187;
}

#u4514
{
	width: 1220px;
	height: 595px;
}

#u4515
{
	z-index: 188;
	width: 1220px;
	height: 595px;
	margin-right: -10000px;
}

#home
{
	width: 22px;
	margin-right: -10000px;
	left: 139px;
}

#u4591
{
	z-index: 190;
	width: 516px;
	padding-bottom: 8px;
	top: 17px;
	left: 50%;
	margin-left: -478px;
}

#u4555
{
	z-index: 191;
	width: 516px;
	top: 17px;
	left: 50%;
	margin-left: -478px;
}

#u4555_img
{
	padding-bottom: 6px;
}

#u4585
{
	z-index: 193;
	width: 213px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 288px;
}

#pu4557
{
	z-index: 196;
	width: 0.01px;
	position: relative;
	margin-left: 39px;
	margin-top: -445px;
}

#u4557
{
	z-index: 0;
	width: 457px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu4559-12
{
	width: 0.01px;
	position: relative;
	left: 39px;
	padding-top: 35px;
	z-index: 2;
	padding-bottom: 42px;
}

#u4559-12
{
	z-index: 197;
	width: 375px;
	min-height: 349px;
	margin-right: -10000px;
}

#u4518
{
	z-index: 195;
	height: 70px;
}

#u4518-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 195;
	top: 594px;
}

#menuu4519
{
	z-index: 209;
	width: 981px;
	top: 612px;
	left: 20px;
}

#u4527
{
	width: 170px;
	min-height: 34px;
	margin-right: -10000px;
}

#u4528
{
	width: 170px;
	padding-bottom: 6px;
}

#u4528:hover
{
	width: 170px;
	min-height: 0px;
	margin: 0px;
}

#u4528.MuseMenuActive
{
	width: 170px;
	min-height: 0px;
	margin: 0px;
}

#u4529-4
{
	width: 122px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 24px;
}

#u4528:hover #u4529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#u4528.MuseMenuActive #u4529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#u4520
{
	width: 152px;
	min-height: 34px;
	margin-right: -10000px;
	left: 172px;
}

#u4521
{
	width: 152px;
	padding-bottom: 6px;
}

#u4521.MuseMenuActive
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u4524-4
{
	width: 104px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 24px;
}

#u4521:hover #u4524-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 104px;
	margin: 0px -10000px 0px 0px;
}

#u4521.MuseMenuActive #u4524-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 104px;
	margin: 0px -10000px 0px 0px;
}

#u4548
{
	width: 210px;
	min-height: 34px;
	margin-right: -10000px;
	left: 326px;
}

#u4551
{
	width: 210px;
}

#u4551.MuseMenuActive
{
	width: 210px;
	min-height: 0px;
	margin: 0px;
}

#u4554-4
{
	width: 162px;
	min-height: 34px;
	margin-right: -10000px;
	left: 24px;
}

#u4551:hover #u4554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u4551.MuseMenuActive #u4554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u4534
{
	width: 239px;
	min-height: 34px;
	margin-right: -10000px;
	left: 538px;
}

#u4535
{
	width: 239px;
	padding-bottom: 6px;
}

#u4535.MuseMenuActive
{
	width: 239px;
	min-height: 0px;
	margin: 0px;
}

#u4538-4
{
	width: 191px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 24px;
}

#u4535:hover #u4538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u4535.MuseMenuActive #u4538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u4541
{
	width: 202px;
	min-height: 34px;
	margin-right: -10000px;
	left: 779px;
}

#u4542
{
	width: 202px;
	padding-bottom: 6px;
}

#u4542.MuseMenuActive
{
	width: 202px;
	min-height: 0px;
	margin: 0px;
}

#u4543-4
{
	width: 154px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 24px;
}

#u4542:hover #u4543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u4542.MuseMenuActive #u4543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u3347-4
{
	z-index: 72;
	width: 980px;
	min-height: 60px;
	background-color: transparent;
	line-height: 58px;
	margin-left: 20px;
	margin-top: 164px;
	position: relative;
}

#u3544-15
{
	z-index: 86;
	width: 980px;
	min-height: 215px;
	background-color: transparent;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	position: relative;
}

#u3544-2,#u3544-4,#u3544-6,#u3544-7,#u3544-9,#u3544-11,#u3544-12
{
	font-size: 18px;
	text-align: justify;
	line-height: 22px;
}

#u3540
{
	z-index: 76;
	width: 490px;
	background-color: transparent;
	position: fixed;
	top: 1065px;
	left: 20px;
}

#u3543-8
{
	z-index: 78;
	width: 471px;
	min-height: 217px;
	background-color: transparent;
	line-height: 29px;
	color: #0071BC;
	font-size: 24px;
	margin-left: 529px;
	margin-top: 31px;
	position: relative;
}

#u3543-2,#u3543-3
{
	text-align: center;
}

#u3543-5,#u3543-6
{
	text-align: left;
}

#u3553-4
{
	z-index: 3;
	width: 168px;
	min-height: 52px;
	background-color: #0071BC;
	border-radius: 5px;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	margin-left: 680px;
	margin-top: 12px;
	position: relative;
}

#u3553-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 168px;
	margin: 12px 0px 0px 680px;
}

#u3548-10
{
	z-index: 62;
	width: 471px;
	min-height: 201px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	margin-left: 18px;
	margin-top: 68px;
	position: relative;
}

#u3548-5,#u3548-7
{
	text-align: left;
	color: #ED1C24;
}

#u3545
{
	z-index: 101;
	width: 490px;
	background-color: transparent;
	position: fixed;
	top: 1429px;
	left: 510px;
}

#u3561-4
{
	z-index: 52;
	width: 168px;
	min-height: 52px;
	background-color: #ED1C24;
	border-radius: 5px;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	margin-left: 171px;
	margin-top: 23px;
	position: relative;
}

#u3561-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 168px;
	margin: 23px 0px 0px 171px;
}

#u3549
{
	z-index: 103;
	width: 492px;
	background-color: transparent;
	position: fixed;
	top: 1783px;
	left: 18px;
}

#u3552-7
{
	z-index: 105;
	width: 471px;
	min-height: 214px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	margin-left: 529px;
	margin-top: 76px;
	position: relative;
}

#u3552-2
{
	text-align: center;
	color: #0071BC;
}

#u3548-2,#u3548-3,#u3552-3
{
	text-align: center;
	color: #ED1C24;
}

#u3548-8,#u3552-5
{
	text-align: left;
	color: #0071BC;
}

#u3562-4
{
	z-index: 7;
	width: 168px;
	min-height: 52px;
	background-color: #0071BC;
	border-radius: 5px;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	margin-left: 680px;
	margin-top: 34px;
	position: relative;
}

#u3562-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 168px;
	margin: 34px 0px 0px 680px;
}

#u3553-4:hover p,#u3561-4:hover p,#u3562-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u3553-2,#u3561-2,#u3562-2
{
	padding-top: 11px;
}

#pdiscounts
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 141px;
}

#discounts
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u3965-3
{
	z-index: 18;
	width: 18px;
	min-height: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1022px;
}

#u3962
{
	z-index: 2;
	min-height: 773.6499999999996px;
	border-color: #000000;
	padding-bottom: 0px;
	background: #FFFFFF url("../images/adobestock_75492606_wm.jpg") no-repeat center center;
	background-size: cover;
}

#u3962_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
	padding-top: 14px;
	padding-bottom: 98px;
}

#u3964-7
{
	z-index: 11;
	width: 980px;
	min-height: 117px;
	background-color: #000000;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	border-radius: 15px;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	left: 120px;
	position: relative;
}

#u3964-3
{
	color: #0071BC;
}

#pu3970-10
{
	width: 0.01px;
	left: 180px;
	margin-top: 42px;
	position: relative;
}

#u3970-10
{
	z-index: 21;
	width: 356px;
	min-height: 234px;
	background-color: #ED1C24;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	border-radius: 50px;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3971-8
{
	z-index: 31;
	width: 356px;
	min-height: 234px;
	background-color: #0071BC;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	border-radius: 50px;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 504px;
}

#u3970-6,#u3970-8,#u3971-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3970-5,#u3970-7,#u3971-5
{
	font-size: 14px;
	line-height: 17px;
}

#pu3972-6
{
	width: 0.01px;
	left: 180px;
	margin-top: 35px;
	position: relative;
}

#u3972-6
{
	z-index: 39;
	width: 356px;
	min-height: 234px;
	background-color: #0071BC;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	border-radius: 50px;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3973-6
{
	z-index: 45;
	width: 356px;
	min-height: 234px;
	background-color: #ED1C24;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	border-radius: 50px;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 504px;
}

#u3962-bw
{
	z-index: 2;
	min-height: 773.6499999999996px;
	margin-top: 43px;
}

#pu4417
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 53px;
}

#u4417
{
	z-index: 56;
	width: 416px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4423-4
{
	z-index: 58;
	width: 349px;
	min-height: 95px;
	background-color: transparent;
	line-height: 29px;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 538px;
}

#u4449
{
	z-index: 112;
	height: 47px;
}

#u4449-bw
{
	z-index: 112;
	margin-top: -2px;
	margin-bottom: -2px;
	height: 47px;
}

#pu4450
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u4450
{
	z-index: 113;
	height: 319px;
}

#u4450-bw
{
	z-index: 113;
	margin-top: 1px;
	height: 319px;
}

#u4451-24
{
	z-index: 114;
	width: 305px;
	min-height: 319px;
	margin-right: -10000px;
	left: 129px;
}

#u4452-27
{
	z-index: 138;
	width: 313px;
	min-height: 319px;
	margin-right: -10000px;
	left: 454px;
}

#u4453-19
{
	z-index: 165;
	width: 313px;
	min-height: 319px;
	margin-right: -10000px;
	left: 787px;
}

#u4472
{
	z-index: 184;
	width: 60px;
	min-height: 60px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 1145px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

