.version.how_it_works /* version checker */
{
	color: #000015;
	background-color: #6AF322;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 3443.6499999999996px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 434px;
	width: 0.01px;
}

#slideshowu3475
{
	z-index: 108;
	width: 0.01px;
	height: 595px;
	left: -100px;
	position: relative;
}

#u3480
{
	position: absolute;
	width: 1220px;
	height: 595px;
	background-color: transparent;
}

#u3480popup
{
	z-index: 109;
}

#u3481
{
	z-index: 110;
	width: 1220px;
	height: 595px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u3433
{
	z-index: 144;
	width: 516px;
	background-color: transparent;
	position: fixed;
	top: 30px;
	left: 50%;
	margin-left: -490px;
}

.js #u3433.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#pu3473
{
	z-index: 146;
	width: 0.01px;
	position: relative;
	margin-left: 33px;
	margin-top: -442px;
}

#u3473
{
	z-index: 0;
	width: 457px;
	background-color: #000000;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu3474-12
{
	width: 0.01px;
	position: relative;
	left: 39px;
	padding-top: 35px;
	z-index: 2;
	padding-bottom: 42px;
}

#u3474-12
{
	z-index: 147;
	width: 375px;
	min-height: 349px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u3435
{
	z-index: 112;
	height: 70px;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
}

#u3435-bw
{
	z-index: 112;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 595px;
}

#u3514-3
{
	z-index: 159;
	width: 232px;
	min-height: 70px;
	background-color: #FFFFFF;
	opacity: 0.15;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
	filter: alpha(opacity=15);
	position: fixed;
	top: 595px;
	left: 563px;
}

#menuu3436
{
	z-index: 113;
	width: 986px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 613px;
	left: 20px;
}

#u3451
{
	width: 168px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3454
{
	width: 168px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
}

#u3454:hover
{
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u3456-4
{
	width: 93px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 28px;
	color: #0071BC;
	font-size: 23px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 37px;
}

#u3454:hover #u3456-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u3454.MuseMenuActive #u3456-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u3454:hover #u3456-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3444
{
	width: 181px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 170px;
}

#u3445
{
	width: 181px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
}

#u3445.MuseMenuActive
{
	width: 181px;
	min-height: 0px;
	margin: 0px;
}

#u3448-4
{
	width: 106px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 28px;
	color: #0071BC;
	font-size: 23px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 37px;
}

#u3445:hover #u3448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u3445.MuseMenuActive #u3448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u3454.MuseMenuActive #u3456-4 p,#u3445:hover #u3448-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3465
{
	width: 188px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 353px;
}

#u3466
{
	width: 188px;
	background-color: transparent;
	position: relative;
}

#u3469-4
{
	width: 113px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 34px;
	color: #ED1C24;
	font-size: 28px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 37px;
}

#u3466:hover #u3469-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u3466.MuseMenuActive #u3469-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u3445.MuseMenuActive #u3448-4 p,#u3466:hover #u3469-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3458
{
	width: 234px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 543px;
}

#u3459
{
	width: 234px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
}

#u3459.MuseMenuActive
{
	width: 234px;
	min-height: 0px;
	margin: 0px;
}

#u3462-4
{
	width: 159px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 28px;
	color: #0071BC;
	font-size: 23px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 37px;
}

#u3459:hover #u3462-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 159px;
	margin: 0px -10000px 0px 0px;
}

#u3459.MuseMenuActive #u3462-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 159px;
	margin: 0px -10000px 0px 0px;
}

#u3466.MuseMenuActive #u3469-4 p,#u3459:hover #u3462-4 p,#u3459:hover #u3462-4 span,#u3459.MuseMenuActive #u3462-4 p,#u3459.MuseMenuActive #u3462-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3462
{
	text-decoration: underline;
}

#u3437
{
	width: 207px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 779px;
}

#u3438
{
	width: 207px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
}

#u3438.MuseMenuActive
{
	width: 207px;
	min-height: 0px;
	margin: 0px;
}

#u3441-4
{
	width: 132px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 28px;
	color: #0071BC;
	font-size: 23px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 37px;
}

#u3438:hover #u3441-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u3438.MuseMenuActive #u3441-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u3438:hover #u3441-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3438.MuseMenuActive #u3441-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u3347-4
{
	z-index: 60;
	width: 980px;
	min-height: 60px;
	background-color: transparent;
	line-height: 58px;
	margin-left: 20px;
	margin-top: 111px;
	position: relative;
}

#u3544-15
{
	z-index: 74;
	width: 980px;
	min-height: 215px;
	background-color: transparent;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	position: relative;
}

#u3544-2,#u3544-4,#u3544-6,#u3544-7,#u3544-9,#u3544-11,#u3544-12
{
	font-size: 18px;
	text-align: justify;
	line-height: 22px;
}

#u3540
{
	z-index: 64;
	width: 490px;
	background-color: transparent;
	position: fixed;
	top: 1012px;
	left: 20px;
}

#pu3553-4
{
	width: 0.01px;
	margin-left: 529px;
	margin-top: 31px;
}

#u3553-4
{
	z-index: 3;
	width: 168px;
	min-height: 52px;
	background-color: #0071BC;
	border-radius: 5px;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 217px;
	left: 152px;
}

#u3553-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 168px;
	margin: 217px -10000px 0px 0px;
}

#u3543-8
{
	z-index: 66;
	width: 471px;
	min-height: 327px;
	background-color: transparent;
	color: #0071BC;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u3543-2,#u3543-3
{
	text-align: center;
}

#u3543-5,#u3543-6
{
	text-align: left;
}

#pu3561-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 37px;
}

#u3561-4
{
	z-index: 7;
	width: 168px;
	min-height: 52px;
	background-color: #ED1C24;
	border-radius: 5px;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 151px;
}

#u3561-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 168px;
	margin: 212px -10000px 0px 0px;
}

#u3548-8
{
	z-index: 91;
	width: 471px;
	min-height: 327px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u3548-5
{
	text-align: left;
	color: #ED1C24;
}

#u3545
{
	z-index: 89;
	width: 490px;
	background-color: transparent;
	position: fixed;
	top: 1376px;
	left: 510px;
}

#u3549
{
	z-index: 99;
	width: 492px;
	background-color: transparent;
	position: fixed;
	top: 1730px;
	left: 18px;
}

#pu3562-4
{
	width: 0.01px;
	margin-left: 529px;
	margin-top: 27px;
}

#u3562-4
{
	z-index: 11;
	width: 168px;
	min-height: 52px;
	background-color: #0071BC;
	border-radius: 5px;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 227px;
	left: 151px;
}

#u3562-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 168px;
	margin: 227px -10000px 0px 0px;
}

#u3553-4:hover p,#u3561-4:hover p,#u3562-4:hover p
{
	color: #22B573;
	visibility: inherit;
}

#u3553-2,#u3561-2,#u3562-2
{
	padding-top: 11px;
}

#u3552-7
{
	z-index: 101;
	width: 471px;
	min-height: 327px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u3552-2
{
	text-align: center;
	color: #0071BC;
}

#u3548-2,#u3548-3,#u3552-3
{
	text-align: center;
	color: #ED1C24;
}

#u3548-6,#u3552-5
{
	text-align: left;
	color: #0071BC;
}

#pdiscounts
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 114px;
}

#discounts
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u3965-3
{
	z-index: 22;
	width: 18px;
	min-height: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1022px;
}

#pu3962
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 43px;
}

#u3962
{
	z-index: 2;
	min-height: 117px;
	border-color: #000000;
	padding-bottom: 657px;
	background: #FFFFFF url("../images/ocean_textures_backgrounds_tiles_1920x1080.jpg") no-repeat center center;
	background-size: cover;
}

#u3962_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u3964-7
{
	z-index: 15;
	width: 980px;
	min-height: 117px;
	background-color: #000000;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	border-radius: 15px;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u3964-3
{
	color: #0071BC;
}

#u3962-bw
{
	z-index: 2;
	min-height: 117px;
}

#u3966
{
	z-index: 25;
	width: 490px;
	background-color: transparent;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 120px;
}

#u3970-8
{
	z-index: 29;
	width: 356px;
	min-height: 234px;
	background-color: #ED1C24;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	border-radius: 50px;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 53px;
}

#u3967
{
	z-index: 26;
	width: 490px;
	background-color: transparent;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 610px;
}

#u3971-6
{
	z-index: 37;
	width: 356px;
	min-height: 234px;
	background-color: #0071BC;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	border-radius: 50px;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 67px;
}

#u3968
{
	z-index: 27;
	width: 490px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 384px;
	left: 120px;
}

#u3972-8
{
	z-index: 43;
	width: 356px;
	min-height: 234px;
	background-color: #0071BC;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	border-radius: 50px;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 53px;
}

#u3969
{
	z-index: 28;
	width: 490px;
	background-color: transparent;
	padding-bottom: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 384px;
	left: 610px;
}

#u3973-8
{
	z-index: 51;
	width: 356px;
	min-height: 234px;
	background-color: #ED1C24;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	border-radius: 50px;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 67px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

