.version.index /* version checker */
{
	color: #0000F7;
	background-color: #4A081E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 2883.799999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -5px;
	padding-bottom: 2px;
	width: 0.01px;
}

#pslideshowu4502
{
	width: 0.01px;
	margin-left: -100px;
}

#slideshowu4502
{
	z-index: 192;
	width: 0.01px;
	height: 595px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u4514popup
{
	z-index: 193;
}

#u4514
{
	width: 1220px;
	height: 595px;
}

#u4515
{
	z-index: 194;
	width: 1220px;
	height: 595px;
	margin-right: -10000px;
}

#home
{
	width: 22px;
	margin-right: -10000px;
	left: 139px;
}

#u4591
{
	z-index: 196;
	width: 516px;
	padding-bottom: 8px;
	top: 17px;
	left: 50%;
	margin-left: -478px;
}

#u4555
{
	z-index: 197;
	width: 516px;
	top: 17px;
	left: 50%;
	margin-left: -478px;
}

#u4555_img
{
	padding-bottom: 6px;
}

#u4585
{
	z-index: 199;
	width: 213px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 288px;
}

#pu4557
{
	z-index: 202;
	width: 0.01px;
	position: relative;
	margin-left: 39px;
	margin-top: -445px;
}

#u4557
{
	z-index: 0;
	width: 457px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu4559-12
{
	width: 0.01px;
	position: relative;
	left: 39px;
	padding-top: 35px;
	z-index: 2;
	padding-bottom: 42px;
}

#u4559-12
{
	z-index: 203;
	width: 375px;
	min-height: 349px;
	margin-right: -10000px;
}

#u4518
{
	z-index: 201;
	height: 70px;
}

#u4518-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 201;
	top: 594px;
}

#menuu4519
{
	z-index: 215;
	width: 981px;
	top: 612px;
	left: 20px;
}

#u4527
{
	width: 170px;
	min-height: 34px;
	margin-right: -10000px;
}

#u4528
{
	width: 170px;
	padding-bottom: 6px;
}

#u4528:hover
{
	width: 170px;
	min-height: 0px;
	margin: 0px;
}

#u4528.MuseMenuActive
{
	width: 170px;
	min-height: 0px;
	margin: 0px;
}

#u4529-4
{
	width: 122px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 24px;
}

#u4528:hover #u4529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#u4528.MuseMenuActive #u4529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#u4520
{
	width: 152px;
	min-height: 34px;
	margin-right: -10000px;
	left: 172px;
}

#u4521
{
	width: 152px;
	padding-bottom: 6px;
}

#u4521.MuseMenuActive
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u4524-4
{
	width: 104px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 24px;
}

#u4521:hover #u4524-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 104px;
	margin: 0px -10000px 0px 0px;
}

#u4521.MuseMenuActive #u4524-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 104px;
	margin: 0px -10000px 0px 0px;
}

#u4548
{
	width: 210px;
	min-height: 34px;
	margin-right: -10000px;
	left: 326px;
}

#u4551
{
	width: 210px;
}

#u4551.MuseMenuActive
{
	width: 210px;
	min-height: 0px;
	margin: 0px;
}

#u4554-4
{
	width: 162px;
	min-height: 34px;
	margin-right: -10000px;
	left: 24px;
}

#u4551:hover #u4554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u4551.MuseMenuActive #u4554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u4534
{
	width: 239px;
	min-height: 34px;
	margin-right: -10000px;
	left: 538px;
}

#u4535
{
	width: 239px;
	padding-bottom: 6px;
}

#u4535.MuseMenuActive
{
	width: 239px;
	min-height: 0px;
	margin: 0px;
}

#u4538-4
{
	width: 191px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 24px;
}

#u4535:hover #u4538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u4535.MuseMenuActive #u4538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u4541
{
	width: 202px;
	min-height: 34px;
	margin-right: -10000px;
	left: 779px;
}

#u4542
{
	width: 202px;
	padding-bottom: 6px;
}

#u4542.MuseMenuActive
{
	width: 202px;
	min-height: 0px;
	margin: 0px;
}

#u4543-4
{
	width: 154px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 24px;
}

#u4542:hover #u4543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u4542.MuseMenuActive #u4543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#pu4645-7
{
	width: 0.01px;
	margin-top: 120px;
}

#u4645-7
{
	z-index: 4;
	width: 666px;
	min-height: 69px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u4645-2
{
	font-size: 28px;
	text-align: center;
	line-height: 34px;
	color: #ED1C24;
}

#u4645-3
{
	font-size: 28px;
	line-height: 34px;
	color: #0071BC;
}

#u4645-5
{
	font-size: 18px;
	line-height: 22px;
}

#u5347
{
	z-index: 2;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 743px;
}

#pu4673-5
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 75px;
}

#u4673-5
{
	z-index: 11;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u4845-5
{
	z-index: 82;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 333px;
}

#buttonu4858
{
	z-index: 107;
	width: 232px;
	border-color: #787878;
	background-color: #0071BC;
	border-radius: 10px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	left: 707px;
}

#buttonu4858:hover
{
	background-color: #ED1C24;
	width: 232px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4859-4
{
	z-index: 108;
	width: 217px;
	min-height: 35px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	letter-spacing: 1px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 4px;
}

#buttonu4858:hover #u4859-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 217px;
	margin: 13px -10000px 0px 0px;
}

#buttonu4858:active #u4859-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 217px;
	margin: 13px -10000px 0px 0px;
}

#buttonu4858:hover #u4859-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu4858:active #u4859-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu4848-5
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 4px;
}

#u4848-5
{
	z-index: 87;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u4849-5
{
	z-index: 92;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#u4860-4
{
	z-index: 112;
	width: 63px;
	min-height: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 791px;
}

#pu4850-5
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 3px;
}

#u4850-5
{
	z-index: 97;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u4851-5
{
	z-index: 102;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 333px;
}

#u4673-3 > li:before,#u4845-3 > li:before,#u4850-3 > li:before,#u4851-3 > li:before
{
	content: '•';
}

#buttonu4861
{
	z-index: 116;
	width: 232px;
	border-color: #787878;
	background-color: #0071BC;
	border-radius: 10px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	left: 707px;
}

#buttonu4858:active,#buttonu4861:hover
{
	background-color: #ED1C24;
	width: 232px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4861:active
{
	background-color: #ED1C24;
	width: 232px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4862-4
{
	z-index: 117;
	width: 217px;
	min-height: 35px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	letter-spacing: 1px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 4px;
}

#buttonu4858.ButtonSelected #u4859-4,#buttonu4861:hover #u4862-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 217px;
	margin: 13px -10000px 0px 0px;
}

#buttonu4861:active #u4862-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 217px;
	margin: 13px -10000px 0px 0px;
}

#buttonu4861.ButtonSelected #u4862-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 217px;
	margin: 13px -10000px 0px 0px;
}

#buttonu4861:hover #u4862-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu4861:active #u4862-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu4844
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 142px;
}

#u4844
{
	z-index: 3;
	height: 629px;
	background-color: #0071BC;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
}

#u4844-bw
{
	z-index: 3;
	height: 629px;
}

#u4705-6
{
	z-index: 16;
	width: 313px;
	min-height: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 432px;
	left: 454px;
}

#u4722-6
{
	z-index: 22;
	width: 305px;
	min-height: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 432px;
	left: 125px;
}

#u4723-10
{
	z-index: 28;
	width: 305px;
	min-height: 168px;
	background-color: #0071BC;
	border-radius: 10px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 432px;
	left: 787px;
}

#u4723-10:hover
{
	background-color: #29ABE2;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 168px;
	width: 305px;
	margin: 432px -10000px 0px 0px;
}

#u4723-2
{
	color: #ED1C24;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
}

#u4723-3
{
	color: #0071BC;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
}

#u4723-6
{
	font-family: nova-mono, sans-serif;
	font-weight: 400;
}

#pbuttonu4728
{
	width: 0.01px;
	padding-bottom: 413px;
	margin-left: -1px;
	margin-top: -615px;
}

#buttonu4728
{
	z-index: 38;
	width: 308px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-left: 26px;
	padding-bottom: 24.200000000000728px;
	position: fixed;
	top: 1272px;
	left: -1px;
}

#buttonu4728:hover
{
	width: 308px;
	min-height: 0px;
	margin: 0px;
}

#u4731
{
	z-index: 39;
	width: 307px;
	height: 221px;
	border-color: #000000;
	border-radius: 8px;
	margin-left: 1px;
	position: relative;
	background: transparent url("../images/swimming-286215_640.jpg") no-repeat center center;
}

#buttonu4728:hover #u4731
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 307px;
	height: 221px;
	min-height: 0px;
	margin: 0px 0px 0px 1px;
}

#buttonu4728.ButtonSelected #u4731
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 307px;
	height: 221px;
	min-height: 0px;
	margin: 0px 0px 0px 1px;
}

#u4730-4
{
	z-index: 48;
	width: 307px;
	min-height: 41px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 20px;
	position: relative;
}

#u4729-8
{
	z-index: 40;
	width: 307px;
	min-height: 93px;
	background-color: transparent;
	line-height: 25px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 14px;
	position: relative;
}

#buttonu4728:hover #u4729-8
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 93px;
	width: 307px;
	margin: 14px 0px 0px;
}

#buttonu4724
{
	z-index: 52;
	width: 365px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 0px;
	position: fixed;
	top: 1272px;
	left: 302px;
}

#u4725
{
	z-index: 53;
	width: 307px;
	height: 221px;
	border-color: #000000;
	border-radius: 8px;
	margin-left: 55px;
	position: relative;
	background: transparent url("../images/swimming-821622_640.jpg") no-repeat center center;
}

#buttonu4724.ButtonSelected #u4725
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 307px;
	height: 221px;
	min-height: 0px;
	margin: 0px 0px 0px 55px;
}

#u4727-4
{
	z-index: 54;
	width: 307px;
	min-height: 41px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 58px;
	margin-top: 20px;
	position: relative;
}

#buttonu4724:hover #u4727-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 307px;
	margin: 20px 0px 0px 58px;
}

#u4726-7
{
	z-index: 58;
	width: 307px;
	min-height: 93px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 58px;
	margin-top: 14px;
	position: relative;
}

#buttonu4724.ButtonSelected #u4726-7
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 93px;
	width: 307px;
	margin: 14px 0px 0px 58px;
}

#buttonu4732
{
	z-index: 65;
	width: 307px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 0px;
	position: fixed;
	top: 1272px;
	left: 691px;
}

#buttonu4732:hover
{
	width: 307px;
	min-height: 0px;
	margin: 0px;
}

#u4733
{
	z-index: 66;
	width: 307px;
	height: 221px;
	border-color: #000000;
	border-radius: 8px;
	position: relative;
	background: transparent url("../images/sea-416573_640.jpg") no-repeat center center;
}

#buttonu4732:hover #u4733
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 307px;
	height: 221px;
	min-height: 0px;
	margin: 0px;
}

#buttonu4732.ButtonSelected #u4733
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 307px;
	height: 221px;
	min-height: 0px;
	margin: 0px;
}

#u4735-4
{
	z-index: 72;
	width: 307px;
	min-height: 41px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 20px;
	position: relative;
}

#buttonu4728:hover #u4730-4,#buttonu4732:hover #u4735-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 307px;
	margin: 20px 0px 0px;
}

#buttonu4728:hover #u4730-4 p,#buttonu4724:hover #u4727-4 p,#buttonu4732:hover #u4735-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u4734-5
{
	z-index: 67;
	width: 307px;
	min-height: 93px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 14px;
	position: relative;
}

#buttonu4728.ButtonSelected #u4729-8,#buttonu4732:hover #u4734-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 93px;
	width: 307px;
	margin: 14px 0px 0px;
}

#buttonu4732.ButtonSelected #u4734-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 93px;
	width: 307px;
	margin: 14px 0px 0px;
}

#u4726-2,#u4726-4,#u4734-2
{
	line-height: 25px;
}

#buttonu4841
{
	z-index: 76;
	width: 313px;
	border-color: #787878;
	background-color: #0071BC;
	border-radius: 10px;
	padding-bottom: 18px;
	margin-left: 354px;
	margin-top: 37px;
	position: relative;
}

#buttonu4841:hover
{
	background-color: #ED1C24;
	width: 313px;
	min-height: 0px;
	margin: 37px 0px 0px 354px;
}

#buttonu4841:active
{
	background-color: #ED1C24;
	width: 313px;
	min-height: 0px;
	margin: 37px 0px 0px 354px;
}

#buttonu4841.ButtonSelected
{
	background-color: #0071BC;
	width: 313px;
	min-height: 0px;
	margin: 37px 0px 0px 354px;
}

#u4842-5
{
	z-index: 77;
	width: 309px;
	min-height: 103px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	letter-spacing: 1px;
	text-align: center;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 4px;
}

#buttonu4841:hover #u4842-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 103px;
	width: 309px;
	margin: 17px -10000px 0px 0px;
}

#buttonu4841:active #u4842-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 103px;
	width: 309px;
	margin: 17px -10000px 0px 0px;
}

#buttonu4841.ButtonSelected #u4842-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 103px;
	width: 309px;
	margin: 17px -10000px 0px 0px;
}

#buttonu4841:hover #u4842-5 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu4841:active #u4842-5 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u4449
{
	z-index: 121;
	height: 47px;
}

#u4449-bw
{
	z-index: 121;
	margin-top: 712px;
	height: 47px;
}

#pu4450
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u4450
{
	z-index: 122;
	height: 319px;
}

#u4450-bw
{
	z-index: 122;
	margin-top: 1px;
	height: 319px;
}

#u4451-24
{
	z-index: 123;
	width: 305px;
	min-height: 319px;
	margin-right: -10000px;
	left: 129px;
}

#u4452-24
{
	z-index: 147;
	width: 313px;
	min-height: 319px;
	margin-right: -10000px;
	left: 454px;
}

#u4453-19
{
	z-index: 171;
	width: 313px;
	min-height: 319px;
	margin-right: -10000px;
	left: 787px;
}

#u4472
{
	z-index: 190;
	width: 60px;
	min-height: 60px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 1145px;
}

#u5355
{
	z-index: 246;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1020px;
}

#u5357
{
	z-index: 247;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 113px;
	left: 1020px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

