.version.index /* version checker */
{
	color: #0000FE;
	background-color: #6C76A7;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1625.5499999999984px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -5px;
	padding-bottom: 1px;
	width: 0.01px;
}

#phome
{
	width: 0.01px;
	margin-left: -100px;
}

#home
{
	width: 22px;
	margin-right: -10000px;
	left: 139px;
}

#slideshowu4502
{
	z-index: 169;
	width: 0.01px;
	height: 595px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u4514popup
{
	z-index: 170;
}

#u4514
{
	width: 1220px;
	height: 595px;
}

#u4515
{
	z-index: 171;
	width: 1220px;
	height: 595px;
	margin-right: -10000px;
}

#u4557
{
	z-index: 174;
	width: 457px;
	height: 386px;
	margin-right: -10000px;
	margin-top: 200px;
	left: 139px;
}

#pamphletu6451
{
	z-index: 217;
	width: 0.01px;
	height: 275px;
	padding-bottom: 8px;
	margin-right: -10000px;
	margin-top: 290px;
	left: 150px;
}

#u6456
{
	z-index: 218;
	width: 41px;
	margin-right: -10000px;
	margin-top: 263px;
	left: 197px;
}

#u6458
{
	width: 27px;
	padding-bottom: 9px;
	top: -8px;
	left: -9px;
}

#u6614
{
	z-index: 220;
	width: 9px;
	height: 10px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u6458:hover #u6614
{
	width: 9px;
	height: 10px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#u6632
{
	width: 27px;
	padding-bottom: 9px;
	top: -8px;
	left: 7px;
}

#u6636
{
	z-index: 222;
	width: 9px;
	height: 10px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u6458.PamphletThumbSelected #u6614,#u6632:hover #u6636
{
	width: 9px;
	height: 10px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#u6632.PamphletThumbSelected #u6636
{
	width: 9px;
	height: 10px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#u6637
{
	width: 27px;
	padding-bottom: 8px;
	top: -8px;
	left: 23px;
}

#u6458.PamphletThumbSelected,#u6632.PamphletThumbSelected,#u6637.PamphletThumbSelected
{
	width: 27px;
	min-height: 0px;
	margin: 0px;
}

#u6640
{
	z-index: 224;
	width: 10px;
	height: 11px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
}

#u6637:hover #u6640
{
	width: 10px;
	height: 11px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u6637.PamphletThumbSelected #u6640
{
	width: 10px;
	height: 11px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u6452popup
{
	z-index: 225;
}

#u6452
{
	width: 427px;
}

#u6455
{
	z-index: 226;
	width: 427px;
	height: 250px;
	margin-right: -10000px;
}

#u6471-14
{
	z-index: 227;
	width: 426px;
	min-height: 241px;
	margin-right: -10000px;
}

#u6634
{
	z-index: 241;
	width: 427px;
	height: 250px;
	margin-right: -10000px;
}

#u6641-10
{
	z-index: 242;
	width: 410px;
	min-height: 84px;
	margin-right: -10000px;
	margin-top: 51px;
	left: 8px;
}

#u6639
{
	z-index: 252;
	width: 427px;
	height: 250px;
	margin-right: -10000px;
}

#u6891-9
{
	z-index: 253;
	width: 408px;
	min-height: 180px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 8px;
}

#u6473-4
{
	z-index: 262;
	width: 427px;
	min-height: 84px;
	margin-right: -10000px;
	margin-top: 206px;
	left: 150px;
}

#u7022
{
	z-index: 298;
	width: 532px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 121px;
}

#u4518
{
	z-index: 173;
	height: 70px;
}

#u4518-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 173;
	top: 594px;
}

#menuu4519
{
	z-index: 175;
	width: 981px;
	top: 594px;
	left: 20px;
}

#u4527
{
	width: 170px;
	min-height: 70px;
	margin-right: -10000px;
}

#u4528
{
	width: 170px;
	padding-bottom: 42px;
}

#u4528:hover
{
	width: 170px;
	min-height: 0px;
	margin: 0px;
}

#u4528.MuseMenuActive
{
	width: 170px;
	min-height: 0px;
	margin: 0px;
}

#u4529-4
{
	width: 122px;
	min-height: 28px;
	margin-right: -10000px;
	top: 21px;
	left: 24px;
}

#u4528:hover #u4529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#u4528.MuseMenuActive #u4529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#u4520
{
	width: 152px;
	min-height: 70px;
	margin-right: -10000px;
	left: 172px;
}

#u4521
{
	width: 152px;
	padding-bottom: 42px;
}

#u4521.MuseMenuActive
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u4524-4
{
	width: 104px;
	min-height: 28px;
	margin-right: -10000px;
	top: 21px;
	left: 24px;
}

#u4521:hover #u4524-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 104px;
	margin: 0px -10000px 0px 0px;
}

#u4521.MuseMenuActive #u4524-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 104px;
	margin: 0px -10000px 0px 0px;
}

#u4548
{
	width: 210px;
	min-height: 70px;
	margin-right: -10000px;
	left: 326px;
}

#u4551
{
	width: 210px;
	padding-bottom: 36px;
}

#u4551.MuseMenuActive
{
	width: 210px;
	min-height: 0px;
	margin: 0px;
}

#u4554-4
{
	width: 162px;
	min-height: 34px;
	margin-right: -10000px;
	top: 18px;
	left: 24px;
}

#u4551:hover #u4554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u4551.MuseMenuActive #u4554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u4534
{
	width: 239px;
	min-height: 70px;
	margin-right: -10000px;
	left: 538px;
}

#u4535
{
	width: 239px;
	padding-bottom: 42px;
}

#u4535.MuseMenuActive
{
	width: 239px;
	min-height: 0px;
	margin: 0px;
}

#u4538-4
{
	width: 191px;
	min-height: 28px;
	margin-right: -10000px;
	top: 21px;
	left: 24px;
}

#u4535:hover #u4538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u4535.MuseMenuActive #u4538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u4541
{
	width: 202px;
	min-height: 70px;
	margin-right: -10000px;
	left: 779px;
}

#u4542
{
	width: 202px;
	padding-bottom: 42px;
}

#u4542.MuseMenuActive
{
	width: 202px;
	min-height: 0px;
	margin: 0px;
}

#u4543-4
{
	width: 154px;
	min-height: 28px;
	margin-right: -10000px;
	top: 21px;
	left: 24px;
}

#u4542:hover #u4543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u4542.MuseMenuActive #u4543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u4645-7
{
	z-index: 3;
	width: 666px;
	min-height: 69px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 120px;
	position: relative;
}

#u4645-2
{
	font-size: 28px;
	text-align: center;
	line-height: 34px;
	color: #FBB03B;
}

#u4645-3
{
	font-size: 28px;
	line-height: 34px;
	color: #0071BC;
}

#u4645-5
{
	font-size: 18px;
	line-height: 22px;
}

#ppu4673-5
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 86px;
}

#u4673-5
{
	z-index: 10;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u4848-5
{
	z-index: 76;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 21px;
	position: relative;
}

#pu4845-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 333px;
}

#u4845-5
{
	z-index: 71;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u4849-5
{
	z-index: 81;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 21px;
	position: relative;
}

#buttonu4858
{
	z-index: 96;
	width: 232px;
	-pie-box-shadow: 2px 2px 8px #7F7F7F;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	border-color: #787878;
	background-color: #FBB03B;
	border-radius: 10px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 707px;
}

#buttonu4858:hover
{
	background-color: #0071BC;
	width: 232px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#buttonu4858.ButtonSelected
{
	background-color: #FBB03B;
	width: 232px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u4859-4
{
	z-index: 97;
	width: 217px;
	min-height: 35px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 4px;
}

#buttonu4858:hover #u4859-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 217px;
	margin: 13px -10000px 0px 0px;
}

#buttonu4858:hover #u4859-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u4860-4
{
	z-index: 101;
	width: 63px;
	min-height: 12px;
	background-color: transparent;
	margin-left: 812px;
	margin-top: 1px;
	position: relative;
}

#ppu4850-5
{
	width: 0.01px;
	margin-left: 17px;
	margin-top: 4px;
}

#pu4673-5,#pu4850-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u4850-5
{
	z-index: 86;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 4px;
	position: relative;
}

#u6378-5
{
	z-index: 115;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 21px;
	position: relative;
}

#pu4851-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 337px;
}

#u4851-5
{
	z-index: 91;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u6379-5
{
	z-index: 120;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 1px;
	margin-top: 21px;
	position: relative;
}

#u4673-3 > li:before,#u4845-3 > li:before,#u4850-3 > li:before,#u6378-3 > li:before,#u4851-3 > li:before,#u6379-3 > li:before
{
	content: '•';
}

#buttonu4861
{
	z-index: 105;
	width: 232px;
	-pie-box-shadow: 2px 2px 8px #7F7F7F;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	border-color: #787878;
	background-color: #FBB03B;
	border-radius: 10px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 710px;
}

#buttonu4861:hover
{
	background-color: #0071BC;
	width: 232px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#buttonu4861.ButtonSelected
{
	background-color: #FBB03B;
	width: 232px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u4862-4
{
	z-index: 106;
	width: 217px;
	min-height: 35px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 4px;
}

#buttonu4858.ButtonSelected #u4859-4,#buttonu4861:hover #u4862-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 217px;
	margin: 13px -10000px 0px 0px;
}

#buttonu4861.ButtonSelected #u4862-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 217px;
	margin: 13px -10000px 0px 0px;
}

#buttonu4861:hover #u4862-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u4844
{
	z-index: 2;
	height: 457px;
	background-color: #0071BC;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
}

#u4844-bw
{
	z-index: 2;
	margin-top: 101px;
	height: 457px;
}

#pbuttonu4728
{
	width: 0.01px;
	padding-bottom: 393px;
	margin-top: -421px;
}

#buttonu4728
{
	z-index: 23;
	width: 334px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 0px;
	position: fixed;
	top: 1294px;
	left: 0px;
}

#buttonu4728:hover
{
	width: 334px;
	min-height: 0px;
	margin: 0px;
}

#buttonu4728.ButtonSelected
{
	width: 334px;
	min-height: 0px;
	margin: 0px;
}

#u4731
{
	z-index: 25;
	height: 223px;
	width: 309px;
	vertical-align: top;
	margin-left: 27px;
	position: relative;
	background: url("../images/swimming-286215_640-u4731.png") no-repeat 0px 0px;
}

#buttonu4728:hover #u4731
{
	background: url("../images/swimming-286215_640-u4731-r.png") no-repeat 0px 0px;
}

#u4730-4
{
	z-index: 35;
	width: 307px;
	min-height: 41px;
	background-color: transparent;
	color: #FBB03B;
	line-height: 29px;
	font-size: 24px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 26px;
	margin-top: 18px;
	position: relative;
}

#buttonu4728:hover #u4730-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 307px;
	margin: 18px 0px 0px 26px;
}

#buttonu4728.ButtonSelected #u4730-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 307px;
	margin: 18px 0px 0px 26px;
}

#buttonu4728:hover #u4730-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#buttonu4728.ButtonSelected #u4730-4 p
{
	color: #FBB03B;
	visibility: inherit;
}

#u4729-8
{
	z-index: 27;
	width: 307px;
	min-height: 93px;
	background-color: transparent;
	line-height: 25px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 26px;
	margin-top: 14px;
	position: relative;
}

#buttonu4728:hover #u4729-8
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 93px;
	width: 307px;
	margin: 14px 0px 0px 26px;
}

#buttonu4728.ButtonSelected #u4729-8
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 93px;
	width: 307px;
	margin: 14px 0px 0px 26px;
}

#buttonu4724
{
	z-index: 39;
	width: 365px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 0px;
	position: fixed;
	top: 1294px;
	left: 303px;
}

#buttonu4724.ButtonSelected
{
	width: 365px;
	min-height: 0px;
	margin: 0px;
}

#u4725
{
	z-index: 40;
	vertical-align: top;
	width: 309px;
	height: 223px;
	margin-left: 55px;
	position: relative;
	background: url("../images/swimming-821622_640-u4725.png") no-repeat 0px 0px;
}

#u4727-4
{
	z-index: 41;
	width: 307px;
	min-height: 41px;
	background-color: transparent;
	color: #FBB03B;
	line-height: 29px;
	font-size: 24px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 58px;
	margin-top: 18px;
	position: relative;
}

#buttonu4724:hover #u4727-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 307px;
	margin: 18px 0px 0px 58px;
}

#u4726-7
{
	z-index: 45;
	width: 307px;
	min-height: 93px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 58px;
	margin-top: 14px;
	position: relative;
}

#buttonu4724.ButtonSelected #u4726-7
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 93px;
	width: 307px;
	margin: 14px 0px 0px 58px;
}

#buttonu4732
{
	z-index: 52;
	width: 307px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 0px;
	position: fixed;
	top: 1294px;
	left: 692px;
}

#buttonu4732:hover
{
	width: 307px;
	min-height: 0px;
	margin: 0px;
}

#buttonu4732.ButtonSelected
{
	width: 307px;
	min-height: 0px;
	margin: 0px;
}

#u4733
{
	z-index: 54;
	height: 223px;
	width: 309px;
	vertical-align: top;
	position: relative;
	background: url("../images/sea-416573_640-u4733.png") no-repeat 0px 0px;
}

#buttonu4732:hover #u4733
{
	background: url("../images/sea-416573_640-u4733-r.png") no-repeat 0px 0px;
}

#u4735-4
{
	z-index: 61;
	width: 307px;
	min-height: 41px;
	background-color: transparent;
	color: #FBB03B;
	line-height: 29px;
	font-size: 24px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 18px;
	position: relative;
}

#buttonu4732:hover #u4735-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 307px;
	margin: 18px 0px 0px;
}

#buttonu4724:hover #u4727-4 p,#buttonu4732:hover #u4735-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u4734-5
{
	z-index: 56;
	width: 307px;
	min-height: 93px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 14px;
	position: relative;
}

#buttonu4732:hover #u4734-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 93px;
	width: 307px;
	margin: 14px 0px 0px;
}

#buttonu4732.ButtonSelected #u4734-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 93px;
	width: 307px;
	margin: 14px 0px 0px;
}

#u4726-2,#u4726-4,#u4734-2
{
	line-height: 25px;
}

#pu4722-5
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 21px;
}

#u4722-5
{
	z-index: 18;
	width: 305px;
	min-height: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4705-3
{
	z-index: 15;
	width: 313px;
	min-height: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 333px;
}

#pu5647-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 29px;
	margin-left: 671px;
}

#u5647-4
{
	z-index: 111;
	width: 313px;
	min-height: 19px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
}

#u5645
{
	z-index: 110;
	width: 88px;
	min-height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 108px;
	margin-top: 15px;
	position: relative;
}

#pu7212
{
	width: 0.01px;
	margin-left: 205px;
	margin-top: 76px;
}

#u7212
{
	z-index: 302;
	width: 140px;
	height: 144px;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
}

.ie #u7212
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu4841
{
	z-index: 65;
	width: 313px;
	border-color: #787878;
	background-color: #FBB03B;
	border-radius: 10px;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	left: 149px;
}

#buttonu4841:hover
{
	background-color: #0071BC;
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4841.ButtonSelected
{
	background-color: #FBB03B;
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4842-5
{
	z-index: 66;
	width: 309px;
	min-height: 103px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 29px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 4px;
}

#buttonu4841:hover #u4842-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 103px;
	width: 309px;
	margin: 17px -10000px 0px 0px;
}

#buttonu4841.ButtonSelected #u4842-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 103px;
	width: 309px;
	margin: 17px -10000px 0px 0px;
}

#buttonu4841:hover #u4842-5 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u4842
{
	font-family: nova-mono, sans-serif;
	font-weight: 400;
}

#u4842-3
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u4449
{
	z-index: 125;
	height: 47px;
}

#u4449-bw
{
	z-index: 125;
	margin-top: 2px;
	height: 47px;
}

#pu4450
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u4450
{
	z-index: 126;
	height: 319px;
}

#u4450-bw
{
	z-index: 126;
	margin-top: 1px;
	height: 319px;
}

#u4452-21
{
	z-index: 127;
	width: 141px;
	min-height: 288px;
	margin-right: -10000px;
	left: 708px;
}

#u4453-19
{
	z-index: 148;
	width: 200px;
	min-height: 319px;
	margin-right: -10000px;
	left: 871px;
}

#u4472
{
	z-index: 167;
	width: 60px;
	min-height: 60px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 1141px;
}

#u5355
{
	z-index: 206;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 196px;
	left: 896px;
}

#u5414
{
	z-index: 207;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 896px;
}

#u6110-5
{
	z-index: 208;
	width: 313px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 153px;
	left: 121px;
}

#u6131-4
{
	z-index: 213;
	width: 223px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 296px;
	left: 499px;
}

#u4451-27
{
	z-index: 266;
	width: 200px;
	min-height: 288px;
	margin-right: -10000px;
	left: 485px;
}

#u6977-5
{
	z-index: 293;
	width: 183px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 179px;
	left: 186px;
}

#u7028
{
	z-index: 300;
	width: 313px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 121px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

