.version.index /* version checker */
{
	color: #00000C;
	background-color: #8FD541;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1625.5499999999984px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -5px;
	padding-bottom: 1px;
	width: 0.01px;
}

#pslideshowu4502
{
	width: 0.01px;
	margin-left: -100px;
}

#slideshowu4502
{
	z-index: 184;
	width: 0.01px;
	height: 595px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u4514popup
{
	z-index: 185;
}

#u4514
{
	width: 1220px;
	height: 595px;
}

#u4515
{
	z-index: 186;
	width: 1220px;
	height: 595px;
	margin-right: -10000px;
}

#home
{
	width: 22px;
	margin-right: -10000px;
	left: 139px;
}

#u4591
{
	z-index: 188;
	width: 516px;
	padding-bottom: 8px;
	top: 17px;
	left: 50%;
	margin-left: -478px;
}

#u4555
{
	z-index: 189;
	width: 516px;
	top: 17px;
	left: 50%;
	margin-left: -478px;
}

#u4555_img
{
	padding-bottom: 6px;
}

#u4585
{
	z-index: 191;
	width: 213px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 288px;
}

#pu4557
{
	z-index: 194;
	width: 0.01px;
	position: relative;
	margin-left: 39px;
	margin-top: -445px;
}

#u4557
{
	z-index: 0;
	width: 457px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu4559-12
{
	width: 0.01px;
	position: relative;
	left: 39px;
	padding-top: 35px;
	z-index: 2;
	padding-bottom: 42px;
}

#u4559-12
{
	z-index: 195;
	width: 375px;
	min-height: 349px;
	margin-right: -10000px;
}

#u4518
{
	z-index: 193;
	height: 70px;
}

#u4518-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 193;
	top: 594px;
}

#menuu4519
{
	z-index: 207;
	width: 981px;
	top: 612px;
	left: 20px;
}

#u4527
{
	width: 170px;
	min-height: 34px;
	margin-right: -10000px;
}

#u4528
{
	width: 170px;
	padding-bottom: 6px;
}

#u4528:hover
{
	width: 170px;
	min-height: 0px;
	margin: 0px;
}

#u4528.MuseMenuActive
{
	width: 170px;
	min-height: 0px;
	margin: 0px;
}

#u4529-4
{
	width: 122px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 24px;
}

#u4528:hover #u4529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#u4528.MuseMenuActive #u4529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#u4520
{
	width: 152px;
	min-height: 34px;
	margin-right: -10000px;
	left: 172px;
}

#u4521
{
	width: 152px;
	padding-bottom: 6px;
}

#u4521.MuseMenuActive
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u4524-4
{
	width: 104px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 24px;
}

#u4521:hover #u4524-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 104px;
	margin: 0px -10000px 0px 0px;
}

#u4521.MuseMenuActive #u4524-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 104px;
	margin: 0px -10000px 0px 0px;
}

#u4548
{
	width: 210px;
	min-height: 34px;
	margin-right: -10000px;
	left: 326px;
}

#u4551
{
	width: 210px;
}

#u4551.MuseMenuActive
{
	width: 210px;
	min-height: 0px;
	margin: 0px;
}

#u4554-4
{
	width: 162px;
	min-height: 34px;
	margin-right: -10000px;
	left: 24px;
}

#u4551:hover #u4554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u4551.MuseMenuActive #u4554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u4534
{
	width: 239px;
	min-height: 34px;
	margin-right: -10000px;
	left: 538px;
}

#u4535
{
	width: 239px;
	padding-bottom: 6px;
}

#u4535.MuseMenuActive
{
	width: 239px;
	min-height: 0px;
	margin: 0px;
}

#u4538-4
{
	width: 191px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 24px;
}

#u4535:hover #u4538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u4535.MuseMenuActive #u4538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u4541
{
	width: 202px;
	min-height: 34px;
	margin-right: -10000px;
	left: 779px;
}

#u4542
{
	width: 202px;
	padding-bottom: 6px;
}

#u4542.MuseMenuActive
{
	width: 202px;
	min-height: 0px;
	margin: 0px;
}

#u4543-4
{
	width: 154px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 24px;
}

#u4542:hover #u4543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u4542.MuseMenuActive #u4543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u4645-7
{
	z-index: 3;
	width: 666px;
	min-height: 69px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 120px;
	position: relative;
}

#u4645-2
{
	font-size: 28px;
	text-align: center;
	line-height: 34px;
	color: #ED1C24;
}

#u4645-3
{
	font-size: 28px;
	line-height: 34px;
	color: #0071BC;
}

#u4645-5
{
	font-size: 18px;
	line-height: 22px;
}

#pu4673-5
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 75px;
}

#u4673-5
{
	z-index: 10;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u4845-5
{
	z-index: 71;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 333px;
}

#buttonu4858
{
	z-index: 96;
	width: 232px;
	border-color: #787878;
	background-color: #0071BC;
	border-radius: 10px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	left: 707px;
}

#buttonu4858:hover
{
	background-color: #ED1C24;
	width: 232px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4859-4
{
	z-index: 97;
	width: 217px;
	min-height: 35px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 4px;
}

#buttonu4858:hover #u4859-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 217px;
	margin: 13px -10000px 0px 0px;
}

#buttonu4858:active #u4859-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 217px;
	margin: 13px -10000px 0px 0px;
}

#buttonu4858:hover #u4859-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu4858:active #u4859-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu4848-5
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 4px;
}

#u4848-5
{
	z-index: 76;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u4849-5
{
	z-index: 81;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#u4860-4
{
	z-index: 101;
	width: 63px;
	min-height: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 791px;
}

#pu4850-5
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 3px;
}

#u4850-5
{
	z-index: 86;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u4851-5
{
	z-index: 91;
	width: 312px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 333px;
}

#u4673-3 > li:before,#u4845-3 > li:before,#u4850-3 > li:before,#u4851-3 > li:before
{
	content: '•';
}

#buttonu4861
{
	z-index: 105;
	width: 232px;
	border-color: #787878;
	background-color: #0071BC;
	border-radius: 10px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	left: 707px;
}

#buttonu4858:active,#buttonu4861:hover
{
	background-color: #ED1C24;
	width: 232px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4861:active
{
	background-color: #ED1C24;
	width: 232px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4862-4
{
	z-index: 106;
	width: 217px;
	min-height: 35px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 4px;
}

#buttonu4858.ButtonSelected #u4859-4,#buttonu4861:hover #u4862-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 217px;
	margin: 13px -10000px 0px 0px;
}

#buttonu4861:active #u4862-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 217px;
	margin: 13px -10000px 0px 0px;
}

#buttonu4861.ButtonSelected #u4862-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 217px;
	margin: 13px -10000px 0px 0px;
}

#buttonu4861:hover #u4862-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu4861:active #u4862-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u4844
{
	z-index: 2;
	height: 484px;
	background-color: #0071BC;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
}

#u4844-bw
{
	z-index: 2;
	margin-top: 142px;
	height: 484px;
}

#pbuttonu4728
{
	width: 0.01px;
	padding-bottom: 393px;
	margin-top: -448px;
}

#buttonu4728
{
	z-index: 27;
	width: 308px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-left: 26px;
	padding-bottom: 0px;
	position: fixed;
	top: 1294px;
	left: 0px;
}

#buttonu4728:hover
{
	width: 308px;
	min-height: 0px;
	margin: 0px;
}

#u4731
{
	z-index: 28;
	width: 307px;
	height: 221px;
	border-color: #000000;
	border-radius: 8px;
	margin-left: 1px;
	position: relative;
	background: transparent url("../images/swimming-286215_640.jpg") no-repeat center center;
}

#buttonu4728:hover #u4731
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 307px;
	height: 221px;
	min-height: 0px;
	margin: 0px 0px 0px 1px;
}

#buttonu4728.ButtonSelected #u4731
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 307px;
	height: 221px;
	min-height: 0px;
	margin: 0px 0px 0px 1px;
}

#u4730-4
{
	z-index: 37;
	width: 307px;
	min-height: 41px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 20px;
	position: relative;
}

#buttonu4728:hover #u4730-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 307px;
	margin: 20px 0px 0px;
}

#buttonu4728:hover #u4730-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#buttonu4728.ButtonSelected #u4730-4 p
{
	color: #000000;
	visibility: inherit;
}

#u4729-8
{
	z-index: 29;
	width: 307px;
	min-height: 93px;
	background-color: transparent;
	line-height: 25px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 14px;
	position: relative;
}

#buttonu4728:hover #u4729-8
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 93px;
	width: 307px;
	margin: 14px 0px 0px;
}

#buttonu4724
{
	z-index: 41;
	width: 310px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-left: 55px;
	padding-bottom: 0px;
	position: fixed;
	top: 1294px;
	left: 303px;
}

#buttonu4724.ButtonSelected
{
	width: 310px;
	min-height: 0px;
	margin: 0px;
}

#u4725
{
	z-index: 42;
	width: 307px;
	height: 221px;
	border-color: #000000;
	border-radius: 8px;
	position: relative;
	background: transparent url("../images/swimming-821622_640.jpg") no-repeat center center;
}

#u4727-4
{
	z-index: 43;
	width: 307px;
	min-height: 41px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 3px;
	margin-top: 20px;
	position: relative;
}

#buttonu4724:hover #u4727-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 307px;
	margin: 20px 0px 0px 3px;
}

#u4726-7
{
	z-index: 47;
	width: 307px;
	min-height: 93px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 3px;
	margin-top: 14px;
	position: relative;
}

#buttonu4724.ButtonSelected #u4726-7
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 93px;
	width: 307px;
	margin: 14px 0px 0px 3px;
}

#buttonu4732
{
	z-index: 54;
	width: 307px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 0px;
	position: fixed;
	top: 1294px;
	left: 692px;
}

#buttonu4732:hover
{
	width: 307px;
	min-height: 0px;
	margin: 0px;
}

#buttonu4732.ButtonSelected
{
	width: 307px;
	min-height: 0px;
	margin: 0px;
}

#u4733
{
	z-index: 55;
	width: 307px;
	height: 221px;
	border-color: #000000;
	border-radius: 8px;
	position: relative;
	background: transparent url("../images/sea-416573_640.jpg") no-repeat center center;
}

#buttonu4724.ButtonSelected #u4725,#buttonu4732:hover #u4733
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 307px;
	height: 221px;
	min-height: 0px;
	margin: 0px;
}

#buttonu4732.ButtonSelected #u4733
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 307px;
	height: 221px;
	min-height: 0px;
	margin: 0px;
}

#u4735-4
{
	z-index: 61;
	width: 307px;
	min-height: 41px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 20px;
	position: relative;
}

#buttonu4728.ButtonSelected #u4730-4,#buttonu4732:hover #u4735-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 307px;
	margin: 20px 0px 0px;
}

#buttonu4724:hover #u4727-4 p,#buttonu4732:hover #u4735-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u4734-5
{
	z-index: 56;
	width: 307px;
	min-height: 93px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 14px;
	position: relative;
}

#buttonu4728.ButtonSelected #u4729-8,#buttonu4732:hover #u4734-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 93px;
	width: 307px;
	margin: 14px 0px 0px;
}

#buttonu4732.ButtonSelected #u4734-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 93px;
	width: 307px;
	margin: 14px 0px 0px;
}

#u4726-2,#u4726-4,#u4734-2
{
	line-height: 25px;
}

#pu4722-6
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 36px;
}

#u4722-6
{
	z-index: 21;
	width: 305px;
	min-height: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4705-6
{
	z-index: 15;
	width: 313px;
	min-height: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 329px;
}

#u5568-6
{
	z-index: 110;
	width: 313px;
	min-height: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 666px;
}

#buttonu4841
{
	z-index: 65;
	width: 313px;
	border-color: #787878;
	background-color: #0071BC;
	border-radius: 10px;
	padding-bottom: 18px;
	margin-left: 354px;
	margin-top: 71px;
	position: relative;
}

#buttonu4841:hover
{
	background-color: #ED1C24;
	width: 313px;
	min-height: 0px;
	margin: 71px 0px 0px 354px;
}

#buttonu4841:active
{
	background-color: #ED1C24;
	width: 313px;
	min-height: 0px;
	margin: 71px 0px 0px 354px;
}

#u4842-5
{
	z-index: 66;
	width: 309px;
	min-height: 103px;
	background-color: transparent;
	font-size: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 4px;
}

#buttonu4841:hover #u4842-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 103px;
	width: 309px;
	margin: 17px -10000px 0px 0px;
}

#buttonu4841:active #u4842-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 103px;
	width: 309px;
	margin: 17px -10000px 0px 0px;
}

#buttonu4841.ButtonSelected #u4842-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 103px;
	width: 309px;
	margin: 17px -10000px 0px 0px;
}

#buttonu4841:hover #u4842-5 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu4841:active #u4842-5 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u4842
{
	font-family: nova-mono, sans-serif;
	font-weight: 400;
}

#u4842-3
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u4449
{
	z-index: 116;
	height: 47px;
}

#u4449-bw
{
	z-index: 116;
	margin-top: 2px;
	height: 47px;
}

#pu4450
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u4450
{
	z-index: 117;
	height: 319px;
}

#u4450-bw
{
	z-index: 117;
	margin-top: 1px;
	height: 319px;
}

#u4451-24
{
	z-index: 118;
	width: 305px;
	min-height: 319px;
	margin-right: -10000px;
	left: 125px;
}

#u4452-21
{
	z-index: 142;
	width: 313px;
	min-height: 319px;
	margin-right: -10000px;
	left: 450px;
}

#u4453-19
{
	z-index: 163;
	width: 313px;
	min-height: 319px;
	margin-right: -10000px;
	left: 783px;
}

#u4472
{
	z-index: 182;
	width: 60px;
	min-height: 60px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 1141px;
}

#u5355
{
	z-index: 238;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 196px;
	left: 896px;
}

#u5414
{
	z-index: 239;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 896px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

