.version.how_it_works /* version checker */
{
	color: #000002;
	background-color: #7E6EE1;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pamphletu6793
{
	z-index: 3;
	width: 0.01px;
	height: 90px;
	padding-bottom: 210px;
	margin-right: -10000px;
}

#u6796
{
	z-index: 4;
	width: 306px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 3px;
}

#u6798
{
	width: 309px;
	top: -4px;
	left: -3px;
}

#u6798.PamphletThumbSelected
{
	width: 309px;
	min-height: 0px;
	margin: 0px;
}

#u6799
{
	z-index: 6;
	width: 306px;
	height: 86px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 3px;
}

#u6798.PamphletThumbSelected #u6799
{
	width: 306px;
	height: 86px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u6797
{
	width: 71px;
	height: 71px;
	top: -4px;
	left: 306px;
}

#u6804popup
{
	z-index: 8;
}

#u6804
{
	width: 126px;
	top: 71px;
	left: 254px;
}

#u6805
{
	z-index: 9;
	width: 126px;
	height: 229px;
	margin-right: -10000px;
}

.ie #u6797,.ie #u6805
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6806
{
	z-index: 10;
	width: 126px;
	height: 229px;
	margin-right: -10000px;
}

#menuu6807
{
	z-index: 11;
	width: 126px;
	margin-right: -10000px;
}

#u6808
{
	width: 126px;
}

#u6811
{
	width: 126px;
	min-height: 17px;
	padding-bottom: 27px;
	margin-right: -10000px;
}

#u6811:hover
{
	width: 126px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6811:active
{
	width: 126px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6813-4
{
	width: 126px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u6811:hover #u6813-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u6811:active #u6813-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u6816
{
	width: 126px;
	min-height: 17px;
	padding-bottom: 27px;
	margin-right: -10000px;
}

#u6811.MuseMenuActive,#u6816:hover
{
	width: 126px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6816:active
{
	width: 126px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6817-4
{
	width: 126px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u6811.MuseMenuActive #u6813-4,#u6816:hover #u6817-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u6816:active #u6817-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u6825
{
	width: 126px;
	min-height: 17px;
	padding-bottom: 27px;
	margin-right: -10000px;
}

#u6816.MuseMenuActive,#u6825:hover
{
	width: 126px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6825:active
{
	width: 126px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6827-4
{
	width: 126px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u6816.MuseMenuActive #u6817-4,#u6825:hover #u6827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u6825:active #u6827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u6830
{
	width: 126px;
	min-height: 17px;
	padding-bottom: 27px;
	margin-right: -10000px;
}

#u6825.MuseMenuActive,#u6830:hover
{
	width: 126px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6830:active
{
	width: 126px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6831-4
{
	width: 126px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u6825.MuseMenuActive #u6827-4,#u6830:hover #u6831-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u6830:active #u6831-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u6815,#u6822,#u6829,#u6836
{
	width: 126px;
	margin-top: 2px;
}

#u6839
{
	width: 126px;
	min-height: 17px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u6830.MuseMenuActive,#u6839:hover
{
	width: 126px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6839:active
{
	width: 126px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6839.MuseMenuActive
{
	width: 126px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6842-4
{
	width: 126px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u6830.MuseMenuActive #u6831-4,#u6839:hover #u6842-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u6839:active #u6842-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u6839.MuseMenuActive #u6842-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u6846
{
	z-index: 2;
	height: 71px;
}

#u6846-bw
{
	z-index: 2;
	margin-top: 499px;
	height: 71px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -499px;
}

