#pamphletu6793,#u6796
{
	position: relative;
}

#u6798
{
	position: absolute;
	border-color: #C4C4C4;
	background-color: transparent;
}

#u6799
{
	position: relative;
	background: transparent url("../../images/swimfun%20logo-u6799-fr.png") no-repeat left top;
	background-size: contain;
}

#u6798.PamphletThumbSelected #u6799
{
	background-repeat: no-repeat;
	background-position: left top;
	background-size: contain;
}

#u6797
{
	position: absolute;
}

#u6804
{
	position: absolute;
	background-color: transparent;
}

#u6805,#u6806
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#menuu6807
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u6811
{
	background-color: #0071BC;
	position: relative;
}

#u6811:hover
{
	background-color: #999999;
}

#u6811:active
{
	background-color: #6B6B6B;
}

#u6813-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u6816
{
	background-color: #0071BC;
	position: relative;
}

#u6811.MuseMenuActive,#u6816:hover
{
	background-color: #999999;
}

#u6816:active
{
	background-color: #6B6B6B;
}

#u6817-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u6825
{
	background-color: #0071BC;
	position: relative;
}

#u6816.MuseMenuActive,#u6825:hover
{
	background-color: #999999;
}

#u6825:active
{
	background-color: #6B6B6B;
}

#u6827-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u6830
{
	background-color: #0071BC;
	position: relative;
}

#u6825.MuseMenuActive,#u6830:hover
{
	background-color: #999999;
}

#u6830:active
{
	background-color: #6B6B6B;
}

#u6831-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u6808,#u6815,#u6822,#u6829,#u6836
{
	background-color: transparent;
	position: relative;
}

#u6839
{
	background-color: #0071BC;
	position: relative;
}

#u6830.MuseMenuActive,#u6839:hover
{
	background-color: #999999;
}

#u6839:active
{
	background-color: #6B6B6B;
}

#u6839.MuseMenuActive
{
	background-color: #999999;
}

#u6842-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u6846
{
	background-color: #29ABE2;
	border-radius: 10px 10px 0px 0px ;
}

